.container {
  max-width: 980px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-image: -webkit-linear-gradient(45deg, #00ffa1, aqua) !important;
  background-image: linear-gradient(45deg, #00ffa1, aqua) !important;
  font-family: 'Roboto', sans-serif !important;
}

.main_title {
  padding: 100px 0 40px;
  font-size: 50px;
  color: #0c0b0b;
  font-family: 'Comfortaa', cursive;
  margin: 0;

  text-align: center;
}

.main_container {
  height: 400px;
  text-align: center;
}

.main_subtitle {
  margin-bottom: 60px;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Comfortaa', cursive;
 */

.rev-Row {
  margin: 0 auto !important;
}
