
:root {
  /* RGB */
  --color1: rgba(255, 0, 253, 1);
  --color2: rgba(0, 39, 43, 1);
  --color3: rgb(249, 54, 212);
  /* rgb(54, 249, 242); */
  --color4: rgba(255, 102, 99, 1);
  --color5: rgba(165, 16, 128, 1);
  --black: #0e0d0d;
  --gray: #f3f3f3;
  --shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  /* CSS */
  --medium-turquoise: hsla(181, 62%, 88%, 1);
  --queen-blue: hsla(206, 63%, 54%, 1);
  --charcoal: #2f4858ff;
  --chinese-yellow: #f6ae2dff;
  --safety-orange-blaze-orange: #f26419ff;
/*
  SCSS HEX
  $medium-turquoise: #55dde0ff;
  $queen-blue: #33658aff;
  $charcoal: #2f4858ff;
  $chinese-yellow: #f6ae2dff;
  $safety-orange-blaze-orange: #f26419ff;
  */
}
.container {
  max-width: 980px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}
html, body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Lato', sans-serif;
}
.searchList_wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 100px auto!important;
}
.rev-Row {
  margin: 0 auto!important;
}
html, body {
  /* background-image: -webkit-linear-gradient(45deg, #00ffa1, aqua) !important;
  background-image: linear-gradient(45deg, #00ffa1, aqua) !important; */
  font-family: 'Roboto', sans-serif !important;
  background-color: var(--medium-turquoise);

}
.moonlitBackground {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jshine {
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main_title {
  padding: 100px 0 40px;
  font-size: 68px;
  color: #0c0b0b;
  font-family: 'Lato', sans-serif;
  margin: 0;

  text-align: center;
}

.main_container {
  height: 400px;
  text-align: center;
}

.main_subtitle {
  margin-bottom: 60px;
  text-align: center;
}
.customRow {
  margin: 0 auto !important;
}
.appWrapper {
  height: 900px;
}
.main_container {
  max-width: 1200px;
  margin: 0 auto;
}
.changesSpeedWrapper {
  display:flex;
}
.speedButton {
  text-align: center;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.downloadSpeed {
  font-size: 13px;
  margin-left: 4px;
}
.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.spinnerOuter {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.spinnerTextWrapper {
  text-align: center;
}

.buttonsWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.resetButton {
  height: 50px;
  width: 100px;
  font-size: 20px;
  background-color: var(--safety-orange-blaze-orange);
  border-radius: 10px;
  border: solid 1px var(--black);
  box-shadow: var(--shadow);
  margin-right: 20px;
}
.resetButton:hover {
  cursor: pointer;
}
.downloadButton {
  height: 50px;
  width: 200px;
  font-size: 20px;
  background-color: var(--safety-orange-blaze-orange);
  border-radius: 10px;
  border: solid 1px var(--black);
  margin-right: 20px;
  display: flex;
  align-items: center;
  text-transform: none;
  justify-content: center;
  text-decoration: none;
  color: var(--black);
  box-shadow: var(--shadow);
}
.playbackButton {
  height: 50px;
  border-radius: 10px;
  border: solid 1px var(--black);
  margin-right: 20px;
  font-size: 20px;
  color: var(--black);
  box-shadow: var(--shadow);
  padding: 6px;
}

@media only screen and (max-width: 900px) {
  .buttonsWrapper {
    display: flex!important;
    flex-direction: column!important;
  }
}
.submitButton {
  border: solid 1px var(--color2);
  background: var(--safety-orange-blaze-orange);
  color: var(--black);
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 30%;
}
.submitButton:focus {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  box-shadow: 0px 0px 2px var(--safety-orange-blaze-orange);
}
.submitButton:hover {
  cursor: pointer;
}
input[type="text"] {
  padding: 12px 8px;
  border: solid 1px var(--color2);
  width: 70%;
  color: var(--color2);
  height: 21px;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
input[type="text"]:focus {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  box-shadow: 0px 0px 2px var(--safety-orange-blaze-orange);
}
.error_message {
  color: #da0000;
  margin: 20px auto;
  font-size: 20px;
}
.inputWrapper {
  display: flex;
  width: 600px;
  justify-content: center;
  margin: 0 auto;
  box-shadow: var(--shadow);
  border-radius: 10px;
}
.loader {
  border: 8px solid var(--gray);
  border-top: 8px solid var(--safety-orange-blaze-orange);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}