

.changesSpeedWrapper {
  display:flex;
}
.speedButton {
  text-align: center;
  font-size: 14px;
  padding-top: 6px;
}
.downloadSpeed {
  font-size: 13px;
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerOuter {
  text-align: center;
}

.spinnerTextWrapper {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .buttonsWrapper {
    display: flex!important;
    flex-direction: column!important;
  }
}
